In [1]:
from utils.get_data import generate_data_nested_dirs, get_cube_at_point
import matplotlib.pylab as plt
import numpy as np
import imageio
from SimpleITK import ReadImage, GetArrayFromImage, sitkFloat32

scans = generate_data_nested_dirs('.')

In [2]:
def plot_one_scan(scan:np.array):
    # plt.figure(figsize=(32,64))
    plt.gray()
    plt.subplots_adjust(0,0,0.5,0.5,0.01,0.01)
    for i in range(scan.shape[0]):
        shape0 = scan.shape[0] // 10 + 1
        plt.subplot(shape0, 10, i + 1)
        plt.imshow(scan[i])
        plt.axis('off')
    plt.show()

In [3]:
import pandas as pd

df_annotations = pd.read_csv('CSVFILES/annotations.csv')
df_annotations

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150
...,...,...,...,...,...
1181,1.3.6.1.4.1.14519.5.2.1.6279.6001.994459772950...,-160.856298,-28.560349,-269.168728,5.053694
1182,1.3.6.1.4.1.14519.5.2.1.6279.6001.994459772950...,-102.189570,-73.865766,-220.536241,4.556101
1183,1.3.6.1.4.1.14519.5.2.1.6279.6001.994459772950...,-37.535409,64.041949,-127.687101,4.357368
1184,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,43.196112,74.438486,-200.523314,4.277203
1185,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,-21.958478,33.486096,-155.292026,23.802913

In [4]:
scan = next(scans)

In [5]:
array, zxy_spacing, zxy_origin, filename = scan
print(zxy_spacing, zxy_origin, filename, sep='\n')

df_test = df_annotations.loc[df_annotations.seriesuid == filename]
df_test

(1.7999999523162842, 0.64453125, 0.64453125)
(-438.4, -157.67773, -311.67773)
1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222365663678666836860

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708

In [6]:
df_test['array'] = df_test.apply(lambda row: get_cube_at_point(array,zxy_spacing,(row['coordZ']-zxy_origin[0],row['coordX']-zxy_origin[1],row['coordY']-zxy_origin[2]),row['diameter_mm']), axis=1)
df_test['array']

0    []
1    []
Name: array, dtype: object

In [7]:
df_test['array'].apply(plot_one_scan)

0    None
1    None
Name: array, dtype: object

In [8]:
df_test['array'][0].shape

(0, 35, 0)

In [9]:
df_test['array'][1].shape

(0, 27, 0)